
.Alpha { 
    background-color: whitesmoke;
}

.Beta { 
    text-align:  center;
}

.Beta2{ 
    text-align: center;
}

.Delta  {
    text-align: center;
}

.Zeta {
    text-align: center;
}
